* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    padding-block: 10px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding-inline: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.part-one {
    width: 50%;
    display: flex;
    gap: 40px;
}

.logo {
    width: 10%;
    display: flex;
    align-items: center;
}

.logo img {
    width: 100%;
}

.Navlinks {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Navlinks a {
    font-size: 13px;
    color: rgb(76, 78, 92);
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: none;
}

.part-two {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.search {
    width: 45%;
    display: flex;
    align-items: center;
    background-color: rgb(241, 241, 245);
    padding-inline: 10px;
    height: 38px;
    border-radius: 0.2rem;
    display: flex;
    gap: 10px;

}

.search input {
    background-color: rgb(241, 241, 245);
    width: 80%;
    font-size: 13px;
}

.profile {
    width: 35%;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

._profile {
    text-align: center;
}

.profile p {
    font-size: 12px;
    font-weight: bold;
}